/* Overall Page Style */
body {
  font-family: 'Archivo Narrow', sans-serif;
  margin: 0;
  background-color: #dfe6ea;
}

a {
  text-decoration: none;
}

/* Header Styles */
header {
  width: 100%;
  margin: 0 0 21px 0;
  text-transform: uppercase;
  font-size: 20px;
}

header div {
  display: flex;
  justify-content: space-around;
  background-color: white;
}

header #logo_long{
  display:flex;
}

.nav_links {
  display: flex;
  justify-content: space-around;
  background-color: #b0c3c9;
  font-weight: bolder;
  letter-spacing: 2px;
  padding: 12px 0;
}

.nav_links a {
  color: #323131;
}

.nav_links a:hover{
  color: #972426;
}


/* Our Story Styles */

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 25px;
}

.titles{
  font-size: 50px;
  text-transform: lowercase;
  letter-spacing: 10px;
  font-family: 'Francois One',sans-serif;
  background-color: #6b7d43;
  margin: 1vh auto;
  margin-bottom: 3vh;
  color: #eae6d2;
  width:45vw;
  text-align: center;
  border-radius: 10px;
}

#seal {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
}

.sendInput{
  display:flex;
  flex-direction: column;
  width:100%;
  margin-bottom: 10px;
}

#messageInput {
  height: 70px;
}
