body {
  -webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;
  -moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;
  -ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;
  animation:-amp-start 8s steps(1,end) 0s 1 normal both}
@-webkit-keyframes -amp-start {
  from {visibility:hidden}
  to {visibility:visible}}
@-moz-keyframes -amp-start {
  from{visibility:hidden}
  to{visibility:visible}}
@-ms-keyframes -amp-start{
  from{visibility:hidden}
  to{visibility:visible}}
@-o-keyframes -amp-start {
  from{visibility:hidden}
  to{visibility:visible}}
@keyframes -amp-start{
  from{visibility:hidden}
  to{visibility:visible }}

div,span,h1,h2,h3,h4,h5,h6,p,blockquote,a,ol,ul,li,figcaption,textarea,input {
  font: inherit;}

*{
  box-sizing: border-box;
  outline: none;}

*:focus{
  outline: none;}

body {
  position: relative;
  font-style: normal;
  line-height: 1.5;
  color: #000000;}

#top-logo {
  max-height: 1.5rem;
  max-width: 1.5rem;}

section{
  background-color: #ffffff;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  padding: 30px 0;}

section,.container,.container-fluid {
  position: relative;
  word-wrap: break-word;}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;  }

p,li,blockquote {
  letter-spacing: 0.5px;
  line-height: 1.7;  }

ul,ol,blockquote,p {
  margin-bottom: 0;
  margin-top: 0;}

a {
  cursor: pointer;}

a,a:hover {
  text-decoration: none;}

a.mbr-iconfont:hover {
  text-decoration: none;}

h1,h2,h3,h4,h5,h6,.display-1,.display-2,.display-4,.display-5,.display-7 {
  word-break: break-word;
  word-wrap: break-word;}

b,strong {
  font-weight: bold;}

blockquote {
  padding: 10px 0 10px 20px;
  position: relative;
  border-left: 3px solid;}

input:-webkit-autofill,input:-webkit-autofill:hover,input:-webkit-autofill:focus,input:-webkit-autofill:active {
  transition-delay: 9999s;
  transition-property: background-color,color;}

html,body {
  height: auto;
  min-height: 100vh;}

.mbr-section-title {
  margin: 0;
  padding: 0;
  font-style: normal;
  line-height: 1.2;
  width: 100%;  }

.mbr-section-subtitle {
  line-height: 1.3;
  width: 100%;}

.mbr-text {
  font-style: normal;
  line-height: 1.6;
  width: 100%;}

.mbr-figure {
  align-self: center;}

.btn {
  text-align: center;
  position: relative;
  margin: 0.4rem 0.8rem;
  font-weight: 700;
  border-width: 2px;
  border-style: solid;
  font-style: normal;
  white-space: normal;
  transition: all 0.2s ease-in-out,box-shadow 2s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
  line-height: 1.5;
  letter-spacing: 1px;}

.btn .mbr-iconfont-btn {
  order: 2;
  margin-left: 10px;
  vertical-align: middle;}

.btn-form{
  padding: 1rem 2rem;}

.btn-form:hover{
  cursor: pointer;}

.note-popover .btn:after{
  display: none;  }

.card-title {
  margin: 0;}

.card-img {
  border-radius: 0;
  width: auto;
  flex-shrink: 0;}

.card-img img{
  width: 100%;  }

.card {
  position: relative;
  background-color: transparent;
  border: none;
  border-radius: 0;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;}

@media (max-width: 767px) {
  .card:not(.last-child) {
    padding-bottom: 2rem; }}

.card .card-wrapper {
  height: 100%;  }

@media (max-width: 767px) {
  .card .card-wrapper {
    flex-direction: column; }}

.card img {
  height: 100%;
  object-fit: cover;
  object-position: center;}

@media (min-width: 992px) {
  .lg-pb {
    padding-bottom: 3rem; }}

@media (max-width: 991px) {
  .md-pb {
    padding-bottom: 2rem; }}

.card-inner,.items-list {
  display: flex;
  flex-direction: column;}

.items-list {
  list-style-type: none;
  padding: 0;}

.items-list .list-item {
  padding: 1rem 2rem;}

.card-head {
  padding: 1.5rem 2rem;}

.card-price-wrap {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;}

.card-button {
  padding: 1rem;
  margin: 0;}

.gallery-img-wrap {
  position: relative;
  height: 100%;}

.gallery-img-wrap:hover {
  cursor: pointer;}

.gallery-img-wrap:hover .icon-wrap,.gallery-img-wrap:hover .caption-on-hover {
  opacity: 1;}

.gallery-img-wrap:hover:after {
  opacity: 0.5;}

.gallery-img-wrap amp-img {
  height: 100%;}

.gallery-img-wrap:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;}

.gallery-img-wrap .icon-wrap,.gallery-img-wrap .img-caption {
  position: absolute;
  z-index: 3;
  pointer-events: none;}

.gallery-img-wrap .icon-wrap,.gallery-img-wrap .caption-on-hover {
  opacity: 0;
  transition: opacity 0.3s;}

.gallery-img-wrap .icon-wrap {
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 50%;}

.gallery-img-wrap .img-caption {
  left: 0;
  right: 0;}

.gallery-img-wrap .img-caption.caption-top {
  top: 0;}

.gallery-img-wrap .img-caption.caption-bottom {
  bottom: 0;}

.gallery-img-wrap .img-caption:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  transition: opacity 0.3s;
  z-index: -1;
  pointer-events: none;}

@media (max-width: 767px) {
  .gallery-img-wrap:after,.gallery-img-wrap:hover:after,.gallery-img-wrap .icon-wrap {
    display: none; }
  .gallery-img-wrap .caption-on-hover {
    opacity: 1; }}

.is-builder .gallery-img-wrap .icon-wrap {
  pointer-events: all;}

.is-builder .gallery-img-wrap .img-caption > *{
  pointer-events: all;}

.icons-list a {
  margin-right: 1rem;}

.icons-list a:last-child {
  margin-right: 0;}

.counter-container {
  position: relative;}

.counter-container ol li {
  margin-bottom: 2rem;}

.counter-container.stylizedCounters ol {
  counter-reset: section;}

.counter-container.stylizedCounters ol li {
  z-index: 3;
  list-style: none;}

.counter-container.stylizedCounters ol li:before {
  z-index: 2;
  position: absolute;
  left: 0px;
  counter-increment: section;
  content: counters(section,".") " ";
  text-align: center;
  margin: 0 10px;
  line-height: 37px;
  width: 40px;
  height: 40px;
  transition: all 0.2s;
  color: #232323;
  font-size: 25px;
  border-radius: 50%;
  font-weight: bold;}

.timeline-wrap {
  position: relative;}

.timeline-wrap .iconBackground {
  position: absolute;
  left: 50%;
  width: 20px;
  height: 20px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  font-size: 30px;
  display: inline-block;
  background-color: #232323;
  top: 20px;
  margin-left: -10px;}

@media (max-width: 768px) {
  .timeline-wrap .iconBackground {
    left: 0; }}

.separline {
  position: relative;}

@media (max-width: 768px) {
  .separline:not(.last-child){
    padding-bottom: 2rem; }}

.separline:before {
  position: absolute;
  content: "";
  width: 2px;
  background-color: #232323;
  left: calc(50% - 1px);
  height: calc(100% - 20px);
  top: 40px;}

@media (max-width: 768px) {
  .separline:before {
    left: 0; }}

amp-image-lightbox a.control {
  position: absolute;
  width: 32px;
  height: 32px;
  right: 48px;
  top: 32px;
  z-index: 1000;}

amp-image-lightbox a.control .close {
  position: relative;}

amp-image-lightbox a.control .close:before,amp-image-lightbox a.control .close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: #fff;}

amp-image-lightbox a.control .close:before {
  transform: rotate(45deg);}

amp-image-lightbox a.control .close:after {
  transform: rotate(-45deg);}

.hidden {
  visibility: hidden;}

.super-hide {
  display: none;}

.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;}

.popover-content ul.show {
  min-height: 155px;}

.mbr-white {
  color: #ffffff;}

.mbr-black {
  color: #000000;}

.mbr-gray {
  color: #8c8c8c;}

.align-left {
  text-align: left;}

.align-left .list-item {
  justify-content: flex-start;}

.align-center {
  text-align: center;}

.align-center .list-item {
  justify-content: center;}

.align-right {
  text-align: right;}

.align-right .list-item {
  justify-content: flex-end;}

@media (max-width: 767px) {
  .align-left,.align-center,.align-right {
    text-align: center; }
  .align-left .list-item,.align-center .list-item,.align-right .list-item {
    justify-content: center; }}

.mbr-light {
  font-weight: 300;}

.mbr-regular {
  font-weight: 400;}

.mbr-semibold {
  font-weight: 600;}

.mbr-bold {
  font-weight: 800;}

.mbr-section-btn {
  margin-left: -0.8rem;
  margin-right: -0.8rem;
  font-size: 0;}

nav .mbr-section-btn {
  margin-left: 0rem;
  margin-right: 0rem;}

.btn .mbr-iconfont,.btn.btn-sm .mbr-iconfont {
  cursor: pointer;
  margin-right: 0.5rem;}

.btn.btn-md .mbr-iconfont,.btn.btn-md .mbr-iconfont {
  margin-right: 0.8rem;}

[type="submit"] {
  -webkit-appearance: none;}

.mbr-fullscreen .mbr-overlay {
  min-height: 100vh;}

.mbr-fullscreen {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  align-items: center;
  -webkit-align-items: center;
  min-height: 100vh;
  padding-top: 3rem;
  padding-bottom: 3rem;}

.mbr-overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;}

.mbr-parallax-bg {
  bottom: 0;
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;}

section.menu {
  min-height: 70px;}

.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;}

@media (max-width: 991px) {
  .menu-container {
    max-width: 100%;
    padding: 0 2rem; }}

@media (max-width: 767px) {
  .menu-container {
    padding: 0 1rem; }}

.navbar {
  z-index: 100;
  width: 100%;}

.navbar-fixed-top {
  position: fixed;
  top: 0;}

.navbar-brand {
  display: flex;
  align-items: center;
  word-break: break-word;
  z-index: 1;}

.navbar-logo {
  margin-right: 0.8rem;}

@media (max-width: 767px) {
  .navbar-logo amp-img {
    max-height: 55px;
    max-width: 55px; }}

.navbar-caption-wrap {
  display: flex;}

.navbar .navbar-collapse {
  display: flex;
  flex-basis: auto;
  align-items: center;
  justify-content: flex-end;}

@media (max-width: 991px) {
  .navbar .navbar-collapse {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    min-height: 100vh;
    padding: 70px 2rem 1rem;
    z-index: 1; }}

@media (max-width: 991px) {
  .navbar.opened .navbar-collapse.show,.navbar.opened .navbar-collapse.collapsing {
    display: block; }
  .is-builder .navbar-collapse {
    position: fixed; }}

.navbar-nav {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  min-width: 10rem;}
@media (max-width: 991px) {
  .navbar-nav {
    flex-direction: column; }}

.navbar-nav .mbr-iconfont {
  margin-right: 0.2rem;}

.nav-item {
  word-break: break-all;}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;}
.nav-link,.navbar-caption {
  transition: all 0.2s;
  letter-spacing: 1px;}

.nav-dropdown .dropdown-menu {
  min-width: 10rem;
  padding-bottom: 1.25rem;
  padding-top: 1.25rem;
  position: absolute;
  left: 0;}
.nav-dropdown .dropdown-menu .dropdown-item {
  line-height: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem 1.5rem;
  white-space: nowrap;}
.nav-dropdown .dropdown-menu .dropdown {
  position: relative;}
.dropdown-menu .dropdown:hover > .dropdown-menu {
  opacity: 1;
  pointer-events: all;}
.nav-dropdown .dropdown-submenu {
  top: 0;
  left: 100%;
  margin: 0;}

.nav-item.dropdown {
  position: relative;}

.nav-item.dropdown .dropdown-menu {
  opacity: 0;
  pointer-events: none;}

.nav-item.dropdown:hover > .dropdown-menu {
  opacity: 1;
  pointer-events: all;}

.link.dropdown-toggle:after {
  content: "";
  margin-left: 0.25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;}

.navbar .dropdown.open > .dropdown-menu {
  display: block;}
@media (max-width: 991px) {
  .is-builder .nav-dropdown .dropdown-menu {
    position: relative; }
  .nav-dropdown .dropdown-submenu {
    left: 0; }
  .dropdown-item {
    padding: 0.25rem 1.5rem;
    margin: 0;
    justify-content: center; }
  .dropdown-item:after {
    right: auto; }
  .navbar.opened .dropdown-menu {
    top: 0; }
  .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    content: "";
    margin-left: 0.25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%; }}

.navbar-buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;}
@media (max-width: 991px) {
  .navbar-buttons {
    flex-direction: column; }}

.menu-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;}
.menu-social-list a {
  font-size: 1.5rem;
  margin: 0 0.5rem;}

button.navbar-toggler {
  position: absolute;
  right: 20px;
  top: 25px;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  align-self: center;}

.hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;}

.hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;}

.hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;}

.hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;}

.hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;}

nav.opened .navbar-toggler:not(.hide) .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;}

nav.opened .navbar-toggler:not(.hide) .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all 0.25s;}

nav.opened .navbar-toggler:not(.hide) .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all 0.25s;}

nav.opened .navbar-toggler:not(.hide) .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;}

.ampstart-btn.hamburger {
  position: absolute;
  top: 25px;
  right: 15px;
  margin-left: auto;
  width: 30px;
  height: 20px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1000;}

@media (min-width: 992px) {
  .ampstart-btn,amp-sidebar {
    display: none; }
  .dropdown-menu .dropdown-toggle:after {
    content: "";
    border-bottom: 0.35em solid transparent;
    border-left: 0.35em solid;
    border-right: 0;
    border-top: 0.35em solid transparent;
    margin-left: 0.3rem;
    margin-top: -0.3077em;
    position: absolute;
    right: 1.1538em;
    top: 50%; }}

.close-sidebar {
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: none;}
.close-sidebar span {
  position: absolute;
  left: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;}
.close-sidebar span:nth-child(1) {
  transform: rotate(45deg);}
.close-sidebar span:nth-child(2) {
  transform: rotate(-45deg);}

.builder-sidebar {
  position: relative;
  min-height: 100vh;
  z-index: 1030;
  padding: 1rem 2rem;
  max-width: 20rem;}
.builder-sidebar .dropdown:hover > .dropdown-menu {
  position: relative;
  text-align: center;}

section.sidebar-open:before {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0,0,0,0.2);
  z-index: 1040;}

.map-placeholder {
  display: none;}

.map-placeholder h4 {
  padding-top: 5rem;
  color: #767676;
  text-align: center;}

.google-map {
  position: relative;
  width: 100%;}
@media (max-width: 992px) {
  .google-map {
    padding: 0;
    margin: 0; }}
.google-map [data-state-details] {
  color: #6b6763;
  font-family: Montserrat;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;}
.google-map[data-state] {
  background: #e9e5dc;}
.google-map[data-state="loading"] [data-state-details] {
  display: none;}

div[submit-success] {
  padding: 1rem;
  margin-bottom: 1rem;}

div[submit-error] {
  padding: 1rem;
  margin-bottom: 1rem;}

textarea[type="hidden"] {
  display: none;}

amp-img {
  width: 100%;}

amp-img img {
  max-height: 100%;
  max-width: 100%;}

img.mbr-temp {
  width: 100%;}

.rounded {
  border-radius: 50%;}

.is-builder .nodisplay + img[async],.is-builder .nodisplay + img[decoding="async"],.is-builder amp-img > a + img[async],.is-builder amp-img > a + img[decoding="async"] {
  display: none;}

html:not(.is-builder) amp-img > a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;}

.is-builder .temp-amp-sizer {
  position: absolute;}

.is-builder amp-youtube .temp-amp-sizer,.is-builder amp-vimeo .temp-amp-sizer {
  position: static;}

.is-builder section.horizontal-menu .ampstart-btn {
  display: none;}

.is-builder section.horizontal-menu .dropdown-menu {
  z-index: auto;
  opacity: 1;
  pointer-events: auto;}

.is-builder section.horizontal-menu .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1em;}

div.placeholder {
  z-index: 4;
  background: rgba(255,255,255,0.5);}

div.placeholder svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 20%;
  height: auto;}

div.placeholder svg circle.big {
  animation: big-anim 3s linear infinite;}

div.placeholder svg circle.small {
  animation: small-anim 1.5s linear infinite;}

@keyframes big-anim {
  from {stroke-dashoffset: 900;}
  to {stroke-dashoffset: 0;}
}

@keyframes small-anim {
  from {stroke-dashoffset: 850;}
  to {stroke-dashoffset: 0;}
}

.placeholder-loader .amp-active > div {
  display: none;}

.container {
  padding-right: 1rem;
  padding-left: 1rem;
  width: 100%;
  margin-right: auto;
  margin-left: auto;}

@media (max-width: 767px) {
  .container {
    max-width: 540px; }}

@media (min-width: 768px) {
  .container {
    max-width: 768px; }}

@media (min-width: 992px) {
  .container {
    max-width: 960px; }}

@media (min-width: 1200px) {
  .container {
    max-width: 1280px; }}

.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 1rem;
  padding-right: 1rem;}

.media-container-row {
  display: flex;
  flex-wrap: wrap;}

@media (min-width: 992px) {
  .media-container-row {
    flex-wrap: nowrap; }}

.mbr-flex {
  display: flex;}

.flex-wrap {
  flex-wrap: wrap;}

.mbr-jc-s {
  justify-content: flex-start;}

.mbr-jc-c {
  justify-content: center;}

.mbr-ai-c {
  align-items: center;}

.mbr-jc-e {
  justify-content: flex-end;}

.mbr-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem;}

.mbr-row-reverse {
  flex-direction: row-reverse;}

.mbr-column {
  flex-direction: column;}

@media (max-width: 767px) {
  .mbr-col-sm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 1rem;
    padding-left: 1rem; }}

@media (min-width: 768px) {
  .mbr-col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    padding-right: 2rem;
    padding-left: 2rem; }
  .mbr-col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    padding-right: 2rem;
    padding-left: 2rem; }
  .mbr-col-md-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
    padding-right: 2rem;
    padding-left: 2rem; }
  .mbr-col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 2rem;
    padding-left: 2rem; }
  .mbr-col-md-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
    padding-right: 2rem;
    padding-left: 2rem; }
  .mbr-col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    padding-left: 2rem;
    padding-right: 2rem; }
  .mbr-col-md-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
    padding-left: 2rem;
    padding-right: 2rem; }
  .mbr-col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 2rem;
    padding-left: 2rem; }}

@media (min-width: 992px) {
  .mbr-col-lg-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
    padding-right: 1rem;
    padding-left: 1rem; }
  .mbr-col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 20%;
    padding-right: 1rem;
    padding-left: 1rem; }
  .mbr-col-lg-4 {
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding-right: 1rem;
    padding-left: 1rem; }
  .mbr-col-lg-5 {
    -ms-flex: 0 0 41.666%;
    flex: 0 0 41.666%;
    max-width: 41.666%;
    padding-right: 1rem;
    padding-left: 1rem; }
  .mbr-col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 1rem;
    padding-left: 1rem; }
  .mbr-col-lg-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
    padding-right: 1rem;
    padding-left: 1rem; }
  .mbr-col-lg-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    padding-left: 1rem;
    padding-right: 1rem; }
  .mbr-col-lg-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
    padding-left: 1rem;
    padding-right: 1rem; }
  .mbr-col-lg-10 {
    -ms-flex: 0 0 83.3333%;
    flex: 0 0 83.3333%;
    max-width: 83.3333%;
    padding-right: 1rem;
    padding-left: 1rem;  }
  .mbr-col-lg-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 1rem;
    padding-left: 1rem; }}

@media (min-width: 1200px) {
  .mbr-col-xl-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
    padding-right: 1rem;
    padding-left: 1rem; }
  .mbr-col-xl-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    padding-right: 1rem;
    padding-left: 1rem; }
  .mbr-col-xl-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    padding-left: 1rem;
    padding-right: 1rem; }
  .mbr-col-xl-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }}

.btn-icon {
  display: none;}

.mbr-pt-1 {
  padding-top: 0.5rem;}

.mbr-pt-2 {
  padding-top: 1rem;}

.mbr-pt-3 {
  padding-top: 1.5rem;}

.mbr-pt-4 {
  padding-top: 2rem;}

.mbr-pt-5 {
  padding-top: 3rem;}

.mbr-pb-1 {
  padding-bottom: 0.5rem;}

.mbr-pb-2 {
  padding-bottom: 1rem;}

.mbr-pb-3 {
  padding-bottom: 1.5rem;}

.mbr-mb-3 {
  margin-bottom: 1.5rem;}

.mbr-pb-4 {
  padding-bottom: 2rem;}

.mbr-pb-5 {
  padding-bottom: 3rem;}

.mbr-mb-5 {
  margin-bottom: 3rem;}

.mbr-pt-6 {
  padding-top: 5rem;}

.mbr-pb-6 {
  padding-bottom: 5rem;}

.mbr-px-1 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;}

.mbr-px-2 {
  padding-left: 1rem;
  padding-right: 1rem;}
@media (max-width: 767px) {
  .mbr-px-2 {
    padding-left: 0rem;
    padding-right: 0rem; }}

.mbr-px-3 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;}

.mbr-px-4 {
  padding-left: 2rem;
  padding-right: 2rem;}
@media (max-width: 767px) {
  .mbr-px-4 {
    padding-left: 1rem;
    padding-right: 1rem; }}

.mbr-px-5 {
  padding-left: 3rem;
  padding-right: 3rem;}
@media (max-width: 767px) {
  .mbr-px-5 {
    padding-left: 1rem;
    padding-right: 1rem; }}

.mbr-m-sub-1 {
  margin-left: -1rem;
  margin-right: -1rem;}
@media (max-width: 768px) {
  .mbr-m-sub-1 {
    margin-left: 0;
    margin-right: 0; }}

.mbr-py-1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;}

.mbr-py-2 {
  padding-top: 1rem;
  padding-bottom: 1rem;}
@media (max-width: 767px) {
  .mbr-py-2 {
    padding-top: 0rem;
    padding-bottom: 0rem; }}

.mbr-py-3 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;}
@media (max-width: 767px) {
  .mbr-py-3 {
    padding-top: 1rem;
    padding-bottom: 1rem; }}

.mbr-py-4 {
  padding-top: 2rem;
  padding-bottom: 2rem;}
@media (max-width: 767px) {
  .mbr-py-4 {
    padding-top: 2rem;
    padding-bottom: 2rem; }}

.mbr-py-5 {
  padding-top: 3rem;
  padding-bottom: 3rem;}
@media (max-width: 767px) {
  .mbr-py-5 {
    padding-top: 1rem;
    padding-bottom: 1rem; }}

.mbr-p-1 {
  padding: 0.5rem;}

.mbr-p-2 {
  padding: 1rem;}

.mbr-p-3 {
  padding: 1.5rem;}
@media (max-width: 991px) {
  .mbr-p-3{padding: 1rem;}}

.mbr-p-4 {
  padding: 2rem; }
@media (max-width: 991px) {
  .mbr-p-4 {
    padding: 1rem;}}

.mbr-p-5 {
  padding: 3rem;}
@media (max-width: 991px) {
  .mbr-p-5 {
    padding: 1rem;}}

.mbr-ml-auto {
  margin-left: auto;}

.mbr-mr-auto {
  margin-right: auto;}

.mbr-m-auto {
  margin: auto;}

.form-block {
  z-index: 1;
  background-color: transparent;
  padding: 1rem 3rem;
  position: relative;
  overflow: visible;}

.form-block .mbr-overlay {
  z-index: -1;}
@media (max-width: 992px) {
  .form-block{
    padding: 1rem;}}

.form-block input,.form-block textarea {
  border-radius: 0;
  background-color: #ffffff;
  margin: 0;
  transition: 0.4s;
  width: 100%;
  border: 1px solid #e0e0e0;
  padding: 11px 1rem;}

form .fieldset {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;}

.field {
  flex-basis: 50%;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.5rem;}
@media (max-width: 768px) {
  .field{
    flex-basis: 100%;}}

textarea {
  width: 100%;
  margin-right: 0;}

.text-field {
  flex-basis: 100%;
  flex-grow: 1rem;
  flex-shrink: 1;
  padding: 0.5rem;}

.file-field {
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 0.6rem 15%;
  position: relative;
  display: inline-block;
  cursor: pointer;
  height: 4rem;}

.new-button {
    display: inline-block;
    margin: 0.4rem 0;
    padding: 0.85rem 1.68rem;
    cursor: pointer;
    font-family: 'Source Sans Pro',sans-serif;
    letter-spacing: 2px;
    background-color: #af938f;
    color: #fff;
}

#file-input {
  position: absolute;
  z-index: -1;
  top: 6px;
  left: 0;
  color: #888;
}

amp-img,img {
  height: 100%;
  width: 100%;}

amp-sidebar {
  background: transparent;}

#scrollToTopMarker {
  position: absolute;
  width: 0px;
  height: 0px;
  top: 300px;}

#scrollToTopButton {
  position: fixed;
  bottom: 25px;
  right: 25px;
  opacity: 0.4;
  z-index: 5000;
  font-size: 32px;
  height: 60px;
  width: 60px;
  border: none;
  border-radius: 3px;
  cursor: pointer;}

#scrollToTopButton:focus {
  outline: none;}

#scrollToTopButton a:before {
  content: "";
  position: absolute;
  height: 40%;
  top: 36%;
  width: 2px;
  left: calc(50% - 1px);}

#scrollToTopButton a:after {
  content: "";
  position: absolute;
  border-top: 2px solid;
  border-right: 2px solid;
  width: 40%;
  height: 40%;
  left: calc(30% - 1px);
  bottom: 30%;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);}

.is-builder #scrollToTopButton a:after{left: 30%;}.is-builder .menu{overflow: visible;}.is-builder .preview button{opacity: 0.5;position: relative;pointer-events: none;}.is-builder .preview button:before{display: block;position: absolute;content: "";background-color: #efefef;left: 0;right: 0;top: 0;bottom: 0;z-index: 2;}.dots-wrapper{opacity: 0.8;}.dots-wrapper .dots{margin: 4px 8px;}.dots-wrapper .dots span{border-radius: 12px;display: block;height: 24px;width: 24px;transition: 0.4s;border: 6px solid #cccccc;background-color: #767676;}.dots-wrapper .dots span.current{background-color: #000000;outline: none;width: 40px;}.amp-carousel-button{outline: none;border-radius: 50%;border: 10px transparent solid;transform: scale(1.5) translateY(-50%);}.amp-carousel-button-next{background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyNDAuODIzIDI0MC44MjMiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDI0MC44MjMgMjQwLjgyMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KCTxwYXRoIGQ9Im0xODMuMTkgMTExLjgybC0xMDguMy0xMDguMjZjLTQuNzUyLTQuNzQtMTIuNDUxLTQuNzQtMTcuMjE1IDAtNC43NTIgNC43NC00Ljc1MiAxMi40MzkgMCAxNy4xNzlsOTkuNzA3IDk5LjY3MS05OS42OTUgOTkuNjcxYy00Ljc1MiA0Ljc0LTQuNzUyIDEyLjQzOSAwIDE3LjE5MSA0Ljc1MiA0Ljc0IDEyLjQ2MyA0Ljc0IDE3LjIxNSAwbDEwOC4zLTEwOC4yNmM0LjY4LTQuNjkxIDQuNjgtMTIuNTExLTAuMDEyLTE3LjE5eiIvPgo8L3N2Zz4K");right: 2rem;}.amp-carousel-button-prev{background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyNDAuODIzIDI0MC44MjMiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDI0MC44MjMgMjQwLjgyMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KCTxwYXRoIGQ9Im01Ny42MzMgMTI5LjAxbDEwOC4zIDEwOC4yNmM0Ljc1MiA0Ljc0IDEyLjQ1MSA0Ljc0IDE3LjIxNSAwIDQuNzUyLTQuNzQgNC43NTItMTIuNDM5IDAtMTcuMTc5bC05OS43MDctOTkuNjcxIDk5LjY5NS05OS42NzFjNC43NTItNC43NCA0Ljc1Mi0xMi40MzkgMC0xNy4xOTEtNC43NTItNC43NC0xMi40NjMtNC43NC0xNy4yMTUgMGwtMTA4LjMgMTA4LjI2Yy00LjY3OSA0LjY5MS00LjY3OSAxMi41MTEgMC4wMTIgMTcuMTkxeiIvPgo8L3N2Zz4K");left: 2rem;}.iconfont-wrapper{display: inline-block;height: 1.5rem;width: 1.5rem;}.amp-iconfont{vertical-align: middle;width: 1.5rem;font-size: 1.5rem;}
body{font-family: Reem Kufi;}blockquote{border-color: #5db0b8;}div[submit-success]{background: #365c9a;}div[submit-error]{background: #b2ccd2;}.display-1{font-family: 'Reem Kufi',sans-serif;font-size: 3.5rem;line-height: 1.2;letter-spacing: 3px;}.display-2{font-family: 'Reem Kufi',sans-serif;font-size: 1.8rem;line-height: 1.2;letter-spacing: 2px;}.display-4{font-family: 'Source Sans Pro',sans-serif;font-size: 1rem;line-height: 1.4;}.display-5{font-family: 'Reem Kufi',sans-serif;font-size: 1.2rem;line-height: 1.4;letter-spacing: 1px;}.display-7{font-family: 'Source Sans Pro',sans-serif;font-size: 1.1rem;line-height: 1.8;}.display-1 .mbr-iconfont-btn{width: 3.5rem;font-size: 3.5rem;}.display-2 .mbr-iconfont-btn{width: 1.8rem;font-size: 1.8rem;}.display-4 .mbr-iconfont-btn{width: 1rem;font-size: 1rem;}.display-5 .mbr-iconfont-btn{width: 1.2rem;font-size: 1.2rem;}.display-7 .mbr-iconfont-btn{width: 1.1rem;font-size: 1.1rem;}.mbr-iconfont-btn{padding-top: 2px;}.form-block input,.form-block textarea{font-family: 'Source Sans Pro',sans-serif;font-size: 1.1rem;line-height: 1.6;}@media (max-width: 768px){.display-1{font-size: 2.8rem;font-size: calc( 1.875rem + (3.5 - 1.875) * ((100vw - 20rem) / (48 - 20)));line-height: calc( 1.4 * (1.875rem + (3.5 - 1.875) * ((100vw - 20rem) / (48 - 20))));}.display-2{font-size: 1.44rem;font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));line-height: calc( 1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));}.display-4{font-size: 0.8rem;font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));}.display-5{font-size: 0.96rem;font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));}.display-7{font-size: 0.88rem;font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));}}.btn{padding: 10px 30px;border-radius: 0px;}.btn-sm{padding: 10px 30px;border-radius: 0px;}.btn-md{padding: 10px 30px;border-radius: 0px;}.btn-lg{padding: 10px 30px;border-radius: 0;}.bg-primary{background-color: #5db0b8;}.bg-success{background-color: #365c9a;}.bg-info{background-color: #e96188;}.bg-warning{background-color: #fac769;}.bg-danger{background-color: #b2ccd2;}.btn-secondary,.btn-secondary:active,.btn-secondary.active{background-color: #af938f;border-color: #af938f;color: #ffffff;}.btn-secondary:hover,.btn-secondary:focus,.btn-secondary.focus{background-color: #7e5e5a;border-color: #7e5e5a;color: #ffffff;}.btn-secondary.disabled,.btn-secondary:disabled{color: #ffffff;background-color: #7e5e5a;border-color: #7e5e5a;}.btn-info,.btn-info:active,.btn-info.active{background-color: #e96188;border-color: #e96188;color: #ffffff;}.btn-info:hover,.btn-info:focus,.btn-info.focus{background-color: #c81c4d;border-color: #c81c4d;color: #ffffff;}.btn-info.disabled,.btn-info:disabled{color: #ffffff;background-color: #c81c4d;border-color: #c81c4d;}.btn-success,.btn-success:active,.btn-success.active{background-color: #365c9a;border-color: #365c9a;color: #ffffff;}.btn-success:hover,.btn-success:focus,.btn-success.focus{background-color: #1c2f4e;border-color: #1c2f4e;color: #ffffff;}.btn-success.disabled,.btn-success:disabled{color: #ffffff;background-color: #1c2f4e;border-color: #1c2f4e;}.btn-warning,.btn-warning:active,.btn-warning.active{background-color: #fac769;border-color: #fac769;color: #614003;}.btn-warning:hover,.btn-warning:focus,.btn-warning.focus{background-color: #f5a208;border-color: #f5a208;color: #614003;}.btn-warning.disabled,.btn-warning:disabled{color: #614003;background-color: #f5a208;border-color: #f5a208;}.btn-danger,.btn-danger:active,.btn-danger.active{background-color: #b2ccd2;border-color: #b2ccd2;color: #ffffff;}.btn-danger:hover,.btn-danger:focus,.btn-danger.focus{background-color: #72a1ac;border-color: #72a1ac;color: #ffffff;}.btn-danger.disabled,.btn-danger:disabled{color: #ffffff;background-color: #72a1ac;border-color: #72a1ac;}.btn-primary,.btn-primary:active,.btn-primary.active{background-color: #5db0b8;border-color: #5db0b8;color: #ffffff;}.btn-primary:hover,.btn-primary:focus,.btn-primary.focus{background-color: #35747a;border-color: #35747a;color: #ffffff;}.btn-primary.disabled,.btn-primary:disabled{color: #ffffff;background-color: #35747a;border-color: #35747a;}.btn-black,.btn-black:active,.btn-black.active{background-color: #010101;border-color: #010101;color: #ffffff;}.btn-black:hover,.btn-black:focus,.btn-black.focus{background-color: #000000;border-color: #000000;color: #ffffff;}.btn-black.disabled,.btn-black:disabled{color: #ffffff;background-color: #000000;border-color: #000000;}.btn-white,.btn-white:active,.btn-white.active{background-color: #fcfcfc;border-color: #fcfcfc;color: #7d7d7d;}.btn-white:hover,.btn-white:focus,.btn-white.focus{background-color: #c9c9c9;border-color: #c9c9c9;color: #7d7d7d;}.btn-white.disabled,.btn-white:disabled{color: #7d7d7d;background-color: #c9c9c9;border-color: #c9c9c9;}.btn-primary-outline,.btn-primary-outline:active,.btn-primary-outline.active{background: none;border-color: #5db0b8;color: #5db0b8;}.btn-primary-outline:hover,.btn-primary-outline:focus,.btn-primary-outline.focus{color: #ffffff;background-color: #5db0b8;border-color: #5db0b8;}.btn-primary-outline.disabled,.btn-primary-outline:disabled{color: #ffffff;background-color: #5db0b8;border-color: #5db0b8;}.btn-secondary-outline,.btn-secondary-outline:active,.btn-secondary-outline.active{background: none;border-color: #af938f;color: #af938f;}.btn-secondary-outline:hover,.btn-secondary-outline:focus,.btn-secondary-outline.focus{color: #ffffff;background-color: #af938f;border-color: #af938f;}.btn-secondary-outline.disabled,.btn-secondary-outline:disabled{color: #ffffff;background-color: #af938f;border-color: #af938f;}.btn-info-outline,.btn-info-outline:active,.btn-info-outline.active{background: none;border-color: #e96188;color: #e96188;}.btn-info-outline:hover,.btn-info-outline:focus,.btn-info-outline.focus{color: #ffffff;background-color: #e96188;border-color: #e96188;}.btn-info-outline.disabled,.btn-info-outline:disabled{color: #ffffff;background-color: #e96188;border-color: #e96188;}.btn-success-outline,.btn-success-outline:active,.btn-success-outline.active{background: none;border-color: #365c9a;color: #365c9a;}.btn-success-outline:hover,.btn-success-outline:focus,.btn-success-outline.focus{color: #ffffff;background-color: #365c9a;border-color: #365c9a;}.btn-success-outline.disabled,.btn-success-outline:disabled{color: #ffffff;background-color: #365c9a;border-color: #365c9a;}.btn-warning-outline,.btn-warning-outline:active,.btn-warning-outline.active{background: none;border-color: #fac769;color: #fac769;}.btn-warning-outline:hover,.btn-warning-outline:focus,.btn-warning-outline.focus{color: #614003;background-color: #fac769;border-color: #fac769;}.btn-warning-outline.disabled,.btn-warning-outline:disabled{color: #614003;background-color: #fac769;border-color: #fac769;}.btn-danger-outline,.btn-danger-outline:active,.btn-danger-outline.active{background: none;border-color: #b2ccd2;color: #b2ccd2;}.btn-danger-outline:hover,.btn-danger-outline:focus,.btn-danger-outline.focus{color: #ffffff;background-color: #b2ccd2;border-color: #b2ccd2;}.btn-danger-outline.disabled,.btn-danger-outline:disabled{color: #ffffff;background-color: #b2ccd2;border-color: #b2ccd2;}.btn-black-outline,.btn-black-outline:active,.btn-black-outline.active{background: none;border-color: #010101;color: #010101;}.btn-black-outline:hover,.btn-black-outline:focus,.btn-black-outline.focus{color: #ffffff;background-color: #010101;border-color: #010101;}.btn-black-outline.disabled,.btn-black-outline:disabled{color: #ffffff;background-color: #010101;border-color: #010101;}.btn-white-outline,.btn-white-outline:active,.btn-white-outline.active{background: none;border-color: #fcfcfc;color: #fcfcfc;}.btn-white-outline:hover,.btn-white-outline:focus,.btn-white-outline.focus{color: #7d7d7d;background-color: #fcfcfc;border-color: #fcfcfc;}.btn-white-outline.disabled,.btn-white-outline:disabled{color: #7d7d7d;background-color: #fcfcfc;border-color: #fcfcfc;}.text-primary{color: #5db0b8;}.text-secondary{color: #af938f;}.text-success{color: #365c9a;}.text-info{color: #e96188;}.text-warning{color: #fac769;}.text-danger{color: #b2ccd2;}.text-white{color: #fcfcfc;}.text-black{color: #010101;}a[class*="text-"],.amp-iconfont{transition: 0.2s ease-in-out;}.amp-iconfont{color: #5db0b8;}a.text-primary:hover,a.text-primary:focus{color: #265256;}a.text-secondary:hover,a.text-secondary:focus{color: #604845;}a.text-success:hover,a.text-success:focus{color: #0e1829;}a.text-info:hover,a.text-info:focus{color: #9b163c;}a.text-warning:hover,a.text-warning:focus{color: #c38107;}a.text-danger:hover,a.text-danger:focus{color: #578994;}a.text-white:hover,a.text-white:focus{color: #5db0b8;}a.text-black:hover,a.text-black:focus{color: #cccccc;}.alert-success{background-color: #365c9a;}.alert-info{background-color: #e96188;}.alert-warning{background-color: #fac769;}.alert-danger{background-color: #b2ccd2;}.mbr-plan-header.bg-primary .mbr-plan-subtitle,.mbr-plan-header.bg-primary .mbr-plan-price-desc{color: #b6dbdf;}.mbr-plan-header.bg-success .mbr-plan-subtitle,.mbr-plan-header.bg-success .mbr-plan-price-desc{color: #7e9ed2;}.mbr-plan-header.bg-info .mbr-plan-subtitle,.mbr-plan-header.bg-info .mbr-plan-price-desc{color: #ffffff;}.mbr-plan-header.bg-warning .mbr-plan-subtitle,.mbr-plan-header.bg-warning .mbr-plan-price-desc{color: #ffffff;}.mbr-plan-header.bg-danger .mbr-plan-subtitle,.mbr-plan-header.bg-danger .mbr-plan-price-desc{color: #ffffff;}.mobirise-spinner{position: absolute;top: 50%;left: 40%;margin-left: 10%;-webkit-transform: translate3d(-50%,-50%,0);z-index: 4;}.mobirise-spinner em{width: 24px;height: 24px;background: #3ac;border-radius: 100%;display: inline-block;-webkit-animation: slide 1s infinite;}.mobirise-spinner em:nth-child(1){-webkit-animation-delay: 0.1s;background: #5db0b8;}.mobirise-spinner em:nth-child(2){-webkit-animation-delay: 0.2s;background: #af938f;}.mobirise-spinner em:nth-child(3){-webkit-animation-delay: 0.3s;background: #365c9a;}@-moz-keyframes slide{0%{-webkit-transform: scale(1);}50%{opacity: 0.3;-webkit-transform: scale(2);}100%{-webkit-transform: scale(1);}}@-webkit-keyframes slide{0%{-webkit-transform: scale(1);}50%{opacity: 0.3;-webkit-transform: scale(2);}100%{-webkit-transform: scale(1);}}@-o-keyframes slide{0%{-webkit-transform: scale(1);}50%{opacity: 0.3;-webkit-transform: scale(2);}100%{-webkit-transform: scale(1);}}@keyframes slide{0%{-webkit-transform: scale(1);}50%{opacity: 0.3;-webkit-transform: scale(2);}100%{-webkit-transform: scale(1);}}.mobirise-loader .amp-active > div{display: none;}#scrollToTopMarker{display: none;}#scrollToTopButton{background-color: #5db0b8;}#scrollToTopButton a:before{background: #ffffff;}#scrollToTopButton a:after{border-top-color: #ffffff;border-right-color: #ffffff;}amp-carousel{overflow: hidden;}a{transition: all 0.3s;color: #8c8c8c;}a:hover{color: #5db0b8;}.btn-transparent{border: none;padding: 5px;margin: 0 7px;}.btn-transparent:hover,.btn-transparent:focus{background-color: transparent;color: #5db0b8;}


/* NAVBAR */
.cid-r9tqFtJomj {
  background-color: #ffffff;
  overflow: visible;}
.cid-r9tqFtJomj .navbar {
  background: #ffffff;}
.cid-r9tqFtJomj .navbar-caption {
  line-height: inherit;}
@media (max-width: 991px) {
  .cid-r9tqFtJomj .navbar .navbar-collapse {
    background: #ffffff; }}
.cid-r9tqFtJomj .amp-iconfont {
  font-size: 1.4rem;color: #000000;}
.cid-r9tqFtJomj .container-fluid {
  padding-right: 3rem;
  padding-left: 3rem;}
.cid-r9tqFtJomj .nav-link {
  margin: 0.667em 1em;
  padding: 0;}
.cid-r9tqFtJomj .dropdown-item.active,.cid-r9tqFtJomj .dropdown-item:active {
  background-color: transparent;}
.cid-r9tqFtJomj .dropdown-menu {
  background: #ffffff;}
.cid-r9tqFtJomj .hamburger span {
  background-color: #000000;}
.cid-r9tqFtJomj .builder-sidebar {
  background-color: #ffffff;}
.cid-r9tqFtJomj .close-sidebar:focus {
  outline: 2px auto #5db0b8;}
.cid-r9tqFtJomj .close-sidebar span {
  background-color: #000000;}


/* HEADER */
.cid-r9yZrTNvoK {
  padding-top: 10rem;
  padding-bottom: 10rem;
  align-items: center;
  display: flex;
  background-image: url("images/architecture-background.jpg");}
.cid-r9yZrTNvoK .mbr-overlay {
  background: #000000;
  opacity: 0.6;}
.cid-r9yZrTNvoK .line {
  background-color: #ffffff;
  height: 3px;
  width: 60px;
  margin-top: 1.5rem;
  display: inline-block;}
.cid-r9yZrTNvoK .line-wrap {
  width: 100%;}


/* CONTENT/ACCORDION */
.cid-r9tu0WvRQd {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #f7f7f7;}
.cid-r9tu0WvRQd amp-accordion section[expanded] .closetab {
  display: none;}
.cid-r9tu0WvRQd amp-accordion section:not([expanded]) .opentab {
  display: none;}
.cid-r9tu0WvRQd .mbr-section-title {
  border: none;
  border-bottom: 1px solid #dfdfdf;
  background-color: transparent;margin-bottom: 15px;}
.cid-r9tu0WvRQd .fa-wrap {
  display: flex;
  padding: 5px;}
.cid-r9tu0WvRQd section {
  background-color: transparent;
  padding: 0;}
.cid-r9tu0WvRQd .amp-iconfont {
  color: #000000;
  width: 2rem;
  font-size: 2rem;}
.cid-r9tu0WvRQd .iconfont-wrapper {
  height: 2rem;
  width: 2rem;}
.cid-r9tu0WvRQd h4 {
  display: inline-block;
  margin: auto;
  padding-left: 10px;}


/* TEAM */
.cid-r9tu4JUvRo {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #ffffff;}
.cid-r9tu4JUvRo .card-subtitle {
  border-bottom: 2px solid #9a827d;
  padding-bottom: 1rem;
  color: #9a827d;}
.cid-r9tu4JUvRo .card-img {
  width: 100%;}
.cid-r9tu4JUvRo .iconfont-wrapper {
  height: 1.3rem;
  width: 1.3rem;}
.cid-r9tu4JUvRo .amp-iconfont {
  width: 1.3rem;
  font-size: 1.3rem;
  color: #2b2b2b;}


/* CONTACT */
.cid-r9tuaGD58x {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #ffffff;}
.cid-r9tuaGD58x .mbr-form .mbr-overlay {
  opacity: 0.8;
  background: #879a9f;}
.cid-r9tuaGD58x .mbr-form .fieldset input,.cid-r9tuaGD58x .mbr-form .fieldset textarea {
  background-color: #f3f3f3;
  color: #000000;
  border: 1px solid #f3f3f3;}
.cid-r9tuaGD58x .mbr-form .fieldset input::-webkit-input-placeholder {
  color: rgba(0,0,0,0.5);}
.cid-r9tuaGD58x .mbr-form .fieldset input::-moz-placeholder {
  color: rgba(0,0,0,0.5);}
.cid-r9tuaGD58x .mbr-form .fieldset textarea::-webkit-input-placeholder {
  color: rgba(0,0,0,0.5);}
.cid-r9tuaGD58x .mbr-form .fieldset textarea::-moz-placeholder {
  color: rgba(0,0,0,0.5);}
.cid-r9tuaGD58x .mbr-form .fieldset textarea {
  min-height: 150px;
  height: 150px;}
@media (max-width: 992px) {
  .cid-r9tuaGD58x .form-block {
    padding: 1.5rem; }}
@media (max-width: 767px) {
  .cid-r9tuaGD58x .form-block {
    padding: 0.5rem; }}
.cid-r9tuaGD58x .btn {
  width: -webkit-fill-available;
  margin: 0.5rem;}
.cid-r9tuaGD58x .mbr-section-btn {
  margin: 0;}


/* FOOTER */
.cid-r9xXu6cVc5 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2b2b2b;}
.cid-r9xXu6cVc5 .list-item {
  padding-top: 10px;
  padding-left: 1rem;
  padding-right: 1rem;}
.cid-r9xXu6cVc5 .tips {
  display: inline-block;
  height: 80px;
  width: 80px;
  margin: 4px;}
@media (max-width: 991px) {
  .cid-r9xXu6cVc5 .col-sm-12 {
    margin-bottom: 2rem;}
  .cid-r9xXu6cVc5 .social-list,.cid-r9xXu6cVc5 .img-list {
    justify-content: center;
    text-align: center;}
  .cid-r9xXu6cVc5 h3 {
    margin-top: 2rem;}
  .cid-r9xXu6cVc5 .tips {
    margin: 0.7rem 0;}
  .cid-r9xXu6cVc5 .img-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }}
.cid-r9xXu6cVc5 .list2,.cid-r9xXu6cVc5 .list1 {
  width: 100%;
  padding-bottom: 0.6rem;
  border-bottom: 1px solid #444444;
  color: #bbbbbb;}



.cid-r9yZw8BYli{padding-top: 4rem;padding-bottom: 4rem;background-color: #ffffff;}.cid-r9yZw8BYli .card-wrapper{z-index: 1;}@media (max-width: 991px){.cid-r9yZw8BYli .card-wrapper{flex-wrap: wrap;}}.cid-r9yZyjkq7o{padding-top: 0rem;padding-bottom: 0rem;background-color: #ffffff;}.cid-r9yZyjkq7o .card{padding: 0;}.cid-r9yZyjkq7o .card1{background-image: url("assets/images/mbr-26.jpg");background-size: cover;background-position: center;}.cid-r9yZyjkq7o .card2{background-image: url("assets/images/mbr-28.jpg");background-size: cover;background-position: center;}.cid-r9yZyjkq7o .card3{background-image: url("assets/images/065.jpg");background-size: cover;background-position: center;}.cid-r9yZyjkq7o .card4{background-image: url("assets/images/056.jpg");background-size: cover;background-position: center;}.cid-r9yZyjkq7o .card-wrapper{padding-bottom: 10rem;position: relative;z-index: 1;}@media (max-width: 991px){.cid-r9yZyjkq7o .card-wrapper{flex-wrap: wrap;}}.cid-r9yZP0AAnQ{padding-top: 4rem;padding-bottom: 4rem;background-color: #f7f7f7;}.cid-r9yZP0AAnQ amp-accordion section[expanded] .closetab{display: none;}.cid-r9yZP0AAnQ amp-accordion section:not([expanded]) .opentab{display: none;}.cid-r9yZP0AAnQ .mbr-section-title{border: none;border-bottom: 1px solid #dfdfdf;background-color: transparent;margin-bottom: 15px;}.cid-r9yZP0AAnQ .fa-wrap{display: flex;padding: 5px;}.cid-r9yZP0AAnQ section{background-color: transparent;padding: 0;}.cid-r9yZP0AAnQ .amp-iconfont{color: #000000;width: 2rem;font-size: 2rem;}.cid-r9yZP0AAnQ .iconfont-wrapper{height: 2rem;width: 2rem;}.cid-r9yZP0AAnQ h4{display: inline-block;margin: auto;padding-left: 10px;}.cid-r9yZzilYu0{padding-top: 6rem;padding-bottom: 6rem;background-image: url("assets/images/background3.jpg");}.cid-r9yZzilYu0 .mbr-overlay{background-color: #000000;opacity: 0.8;}.cid-r9yZzilYu0 .date-wrap{min-width: 40px;}.cid-r9yZzilYu0 .title-wrap{width: 100%;}.cid-r9yZzilYu0 .card-wrapper{z-index: 1;}@media (max-width: 991px){.cid-r9yZzilYu0 .card-wrapper{flex-wrap: wrap;}}.cid-r9yZzilYu0

.card-box{
  border-bottom: 2px solid #5db0b8;
  padding-bottom: 3rem;}

.cid-r9yZzilYu0 .card-title{color: #5db0b8;}.cid-r9yZzilYu0 .card-text{color: #bbbbbb;}.cid-r9yZSEWNCd{padding-top: 2rem;padding-bottom: 1rem;background-color: #ffffff;}.cid-r9yZSEWNCd amp-img,.cid-r9yZSEWNCd img{height: auto;width: 100%;}.cid-r9yZSEWNCd .gallery-row{padding-left: 0;padding-right: 0;}@media (max-width: 992px){.cid-r9yZSEWNCd .gallery-row{justify-content: center;padding-left: 1rem;padding-right: 1rem;}}.cid-r9yZSEWNCd .gallery-img-wrap .icon-wrap{background-color: transparent;}.cid-r9yZSEWNCd .gallery-item:nth-last-child(1),.cid-r9yZSEWNCd .gallery-row:nth-last-child(1){padding-bottom: 0;}.cid-r9yZSEWNCd .gallery-img-wrap:hover:after{opacity: 0.4;}@media (min-width: 768px){.cid-r9yZSEWNCd .gallery-img-wrap:hover .img-caption:after{opacity: 0;}}.cid-r9yZSEWNCd .gallery-img-wrap:after{background: #000000;}.cid-r9yZSEWNCd .gallery-img-wrap .iconfont-wrapper{width: calc(1rem + 1.7rem);height: calc(1rem + 1.7rem);}.cid-r9yZSEWNCd .gallery-img-wrap span{font-size: 1.7rem;width: 1.7rem;color: #ffffff;}.cid-r9yZSEWNCd .gallery-img-wrap .img-caption:after{opacity: 0.4;background: #000000;}.cid-r9z0hQjC61{padding-top: 5rem;padding-bottom: 5rem;background-color: #2b2b2b;}.cid-r9z0hQjC61 .card-wrapper{z-index: 1;}@media (max-width: 991px){.cid-r9z0hQjC61 .card-wrapper{flex-wrap: wrap;}}.cid-r9z0hQjC61 .image-text{color: #ffffff;}.cid-r9z0hQjC61 .card-title,.cid-r9z0hQjC61 .card-btn,.cid-r9z0hQjC61 .card-img{color: #d8d8d8;}.cid-r9z0g7qW5x{padding-top: 3rem;padding-bottom: 3rem;background-color: #f3f3f3;}.cid-r9z0g7qW5x .card1,.cid-r9z0g7qW5x .card3{margin-top: 1.5rem;}.cid-r9z0g7qW5x .cardhadow{box-shadow: 0 0 45px rgba(0,0,0,0.07);}@media (min-width: 1400px){.cid-r9z0g7qW5x .mbr-col-lg-4,.cid-r9z0g7qW5x

.mbr-col-lg-3 {
  padding: 0.4rem;}}.cid-r9z0g7qW5x .card-head{padding-bottom: 3rem;padding-top: 4rem;}.cid-r9z0g7qW5x .card-head .amp-iconfont{color: #ffffff;font-size: 2.5rem;width: 2.5rem;margin-bottom: 1.5rem;}.cid-r9z0g7qW5x .iconfont-wrapper{height: 2.5rem;width: 2.5rem;}.cid-r9z0g7qW5x .card-price-wrap{padding: 1.5rem 2rem;background-color: #f6f6f6;}.cid-r9z0g7qW5x .price-sign{vertical-align: super;}.cid-r9z0g7qW5x .price-caption{vertical-align: bottom;}.cid-r9z0g7qW5x .btn{border-radius: 30px;}.cid-r9z0g7qW5x .btn-black{background: #6b6b6b;border-color: #6b6b6b;}.cid-r9z0g7qW5x .btn-black:hover{background: #af938f;border-color: #af938f;}.cid-r9z0g7qW5x .items-list-wrap .list-item{display: flex;align-items: center;}.cid-r9z0g7qW5x .list-item .amp-iconfont{width: 1.4rem;font-size: 1.4rem;color: #8c8c8c;margin-right: 1rem;}.cid-r9z0g7qW5x .card-inner,.cid-r9z0g7qW5x .card-head,.cid-r9z0g7qW5x .card-price-wrap,.cid-r9z0g7qW5x .list-item{background-color: #ffffff;}.cid-r9z0g7qW5x .list-item{border-bottom: 1px solid #f3f3f3;}.cid-r9z0g7qW5x .cardhead1{background-color: #2b2b2b;}.cid-r9z0g7qW5x .cardhead2{background-color: #9a827d;}.cid-r9z0g7qW5x .cardhead3{background-color: #2b2b2b;}.cid-r9z0g7qW5x .cardhead4{background-color: #2b2b2b;}.cid-r9z0g7qW5x .card1 .card-title{color: #9a827d;}.cid-r9z0g7qW5x .card3 .card-title{color: #9a827d;}@media (max-width: 991px){.cid-r9z0g7qW5x .card2{margin-top: 1.5rem;}}@media (max-width: 767px){.cid-r9z0g7qW5x .card-head,.cid-r9z0g7qW5x .card-price-wrap,.cid-r9z0g7qW5x .list-item{padding-left: 1rem;padding-right: 1rem;}}.cid-r9yZV7Klkp{padding-top: 105px;padding-bottom: 105px;background-image: url("assets/images/mbr-17.jpg");}.cid-r9yZV7Klkp .mbr-overlay{background-color: #000000;opacity: 0.6;}.cid-r9yZV7Klkp .card-wrapper{flex-direction: column;}.cid-r9yZV7Klkp .user-box{align-items: center;}.cid-r9yZV7Klkp .card{padding: 0;}.cid-r9yZV7Klkp .card-img{padding-right: 1.2rem;width: 5rem;}.cid-r9yZV7Klkp .iconfont-wrapper{height: 3.9rem;width: 3.9rem;margin: auto;}.cid-r9yZV7Klkp .amp-iconfont{width: 3.9rem;font-size: 3.9rem;color: #ffffff;}.cid-r9z01687XL{padding-top: 0rem;padding-bottom: 0rem;background-color: #ffffff;}.cid-r9z01687XL amp-img{min-height: 100%;}.cid-r9z01687XL amp-img img{object-fit: cover;}.cid-r9z01687XL .title-wrap{min-height: 100%;}.cid-r9z01687XL .icons-list .amp-iconfont{width: 2.4rem;font-size: 2.4rem;color: #000000;}.cid-r9z01687XL .iconfont-wrapper{height: 2.4rem;width: 2.4rem;}.cid-r9z01687XL .map-block{padding: 0;margin: 0;width: 100%;}.cid-r9z01687XL .map-block .google-map,.cid-r9z01687XL .map-block iframe,.cid-r9z01687XL .map-block amp-iframe{margin: 0;padding: 0;height: 100%;width: 100%;min-height: 300px;}.cid-r9z01687XL .image-wrap{padding: 0;min-height: 100%;}.cid-r9z01687XL .image-block{height: 100%;padding-left: 0;padding-right: 0;}.cid-r9z01687XL .title-block{margin: auto;width: 100%;height: 100%;display: flex;flex-direction: column;justify-content: center;}.cid-r9z01687XL .mbr-section-title,.cid-r9z01687XL .mbr-section-btn{color: #000000;}.cid-r9z01687XL .mbr-section-btn,.cid-r9z01687XL .mbr-text{color: #000000;}.cid-r9PqrKZN5A{padding-top: 2rem;padding-bottom: 2rem;background-color: #2b2b2b;}@media (min-width: 767px){.cid-r9PqrKZN5A .container{padding: 0rem 2rem;}}.cid-r9PqrKZN5A .iconfont-wrapper{height: 1.3rem;width: 1.3rem;}.cid-r9PqrKZN5A .amp-iconfont{width: 1.3rem;font-size: 1.3rem;color: #af938f;}.cid-r9PqrKZN5A .cont{justify-content: space-between;align-items: center;}.cid-r9PqrKZN5A .title{width: 60%;}@media (max-width: 767px){.cid-r9PqrKZN5A .mbr-flex{display: block;}.cid-r9PqrKZN5A .align-left{text-align: center;}.cid-r9PqrKZN5A .title{width: 100%;}.cid-r9PqrKZN5A .mbr-section-title{padding-top: 1rem;}}.cid-r9PqrKZN5A .mbr-section-title{color: #af938f;text-align: right;}
.engine{position: absolute;text-indent: -2400px;text-align: center;padding: 0;top: 0;left: -2400px;}[class*="-iconfont"]{display: inline-flex;}
