* {
  box-sizing: border-box;
}

.scaled-text {
  font-size: large;
}

.fixed-text {
  font-size: 16px;
}

/* Change the font size to see its effect */
.container {
  display: flex;
  font-size: 32px;
}

.fixed-box {
  border: 2px solid black;
  width: 240px;
  height: 160px;
  margin: 16px;
  padding: 4px;
}

.scaled-box {
  border: 0.125em solid black;
  width: 15em;
  height: 10em;
  margin: 1em;
  padding: 0.25em;
}

/* rem = root em = font size of root element */
.rem-box {
  border: 0.125rem solid black;
  height: 10rem;
  margin: 1rem;
  padding: 0.25rem;
}

.viewport-height {
  border: 2px solid black;
  /* percentages relative to parent element */
  /* viewport = browser's content window */
  /* vw and vh = 1/100th viewport width and height */
  height: 50vh;
  /* compare 100% vs 100vw */
  /*width: 100vw;*/
  width: calc(100% - 100px);
}

