/*
Syntax:

selector (what you want to style) {
  property: value;
  another-property: value;
}
*/

h1 {
  /*font-family: monospace;*/
  /*font-weight: bold;*/
  /*font-style: italic;*/
  /*text-decoration: underline;*/
  text-align: center;
  border: 1px solid blue;
  width: 50%;
}

/* Doesn't work
strong {
  text-align: center;
}*/

#first-para strong,
header h1 {
  border: 1px solid green;
  background-color: black;
  color: red;
}

p.note {
  color: blue;
}
